* {
    margin: 0px;
    color: white;

    
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
}

h2 {
  text-align: center;
  background-color: #555;
}

input {
  color: black;
}

textarea {
  color: black;
  width: 100%;
  text-decoration: none;
  min-width: 400px;
}

footer {
  background-color: gray;
}

.mode {
  float:right;
}
.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
  margin-right: 1em;
}

.h1 {
  text-align: center;
  margin: 2em;
}

.profile-pic {
    height: 2.5em;
    width: 2.5em;
    border-radius: 1.25em;
    object-fit: cover;
  }

.title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.5vb;
}

.navbar {
    background-color: darkred;
    height: 5vb;
    /*height: 5vb;*/
    width: 100%;
}

#subscription-form {
  background-color: orange;
}

.close {
  right: 1em;
  position: absolute;
  cursor: pointer;
}

.prenum {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    
}

.prenumTxt {
  color: #de2135;
  text-shadow: #555;
}

.reviews {
  background-color: darkred;
  border: 1px solid black;
  margin-bottom: 5px;
  overflow-x: auto;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.semi-reviews-section {
  display: flex;
  flex-direction: row;
}

.right {
  float: right;
  height: 5em;
}
 
.navbar a {
  padding: 1em;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  background-color: gray;
  height: 3.7em;
  padding-bottom: 0;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.tjänstebild {
  width: 400px;
  height: 375px;
  margin: 10px;
  border-radius: 25px;
  padding: 0px;
  border-style: outset;
  object-fit: cover;
}

.tjänstebild:hover {
  border-color: darkred;
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
