* {
    margin: 0px;
    color: white; /* Changed text color to black */
}

body {
    background-color: black; /* Changed background color to white */
}

option {
    color: black;
}
select {
    color: black;
}

input {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: black;
}

.car {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.car img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
}

.car-info {
    flex: 1;
}

.car h2 {
    margin: 0;
}

.car p {
    margin: 5px 0;
}

.car-price {
    font-weight: bold;
    color: darkred;
}

.car-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show only 3 lines of description */
    -webkit-box-orient: vertical;
}

@media (max-width: 600px) {
    .car {
        flex-direction: column;
    }
    .car img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}



.mode {
    float:right;
  }
  
  .h1 {
    text-align: center;
    margin: 2em;
  }
  
  .profile-pic {
      height: 2.5vw;
      width: 2.5vw;
      border-radius: 1.25vw;
      object-fit: cover;
    }
  
  .title {
      position: absolute;
      top: 1vw;
      left: 1vw;
      font-size: 2.5vw;
  }
  
  .navbar {
      background-color: darkred;
      height: 5vw;
      width: 100%;
  }
  .right {
    float: right;
    height: 3.5vw;

    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: gray;
    /* height: 5vb; */
    margin-bottom: 0;
    padding: 0 1vw 0 1vw;
    padding-top: 1.5vw;
  }

  .right:hover {
    background-color: #ddd;
    color: black;
  }

  button {
    background-color: grey;
    background-image: linear-gradient(to right, black 0%, black 0%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease; /* Smooth transition */
  }
  button:hover {
    background-size: 100% 100%; /* Fill from left to right on hover */
  }

  @media (orientation: portrait) {
    .navbar a {
      font-size: 1.5vh;
      padding: 0 1vh 0 1vh;
      padding-top: 1.5vh;
    }
    .right {
      height: 3.5vh;
    }
    .close {
      right: 1vh;
    }
    .change {
      margin-right: 1vh;
    }
    
   /* .h1 {
      text-align: center;
      margin: 2em;
    }*/
    
    .profile-pic {
        height: 2.5vh;
        width: 2.5vh;
        border-radius: 1.25vh;
      }
    
    .title {
        top: 1vh;
        left: 1vh;
        font-size: 2.5vh;
    }
    
    .navbar {
        height: 5vh;
    }
  }

