* {
    margin: 0px;
    color: black; /* Changed text color to black */
}

body {
    background-color: white; /* Changed background color to white */
}

.car {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.car img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
}

.car-info {
    flex: 1;
}

.car h2 {
    margin: 0;
}

.car p {
    margin: 5px 0;
}

.car-price {
    font-weight: bold;
    color: darkred;
}

.car-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show only 3 lines of description */
    -webkit-box-orient: vertical;
}

@media (max-width: 600px) {
    .car {
        flex-direction: column;
    }
    .car img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}