* {
    margin: 0px;
    color: white;
}

body {
    background-color: black;
}

input {
  color: black;
}

textarea {
  color: black;
  width: 100%;
  text-decoration: none;
  min-width: 400px;
}

footer {
  background-color: gray;
}

.h1 {
  text-align: center;
  margin: 2em;
}
/*
.profile-link {
  position: absolute;
  top: 1em;
  right: 1em;
}*/
/*
.profile-name {
  position: absolute;
  top: 2em;  
  right: 5em;
  
  color: black;
  padding-left: 1em;
}*/

.profile-pic {
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.25em;
  object-fit: cover;
}

.pf-pic {
  max-height: 25em;
  max-width: 25em;
  width: 100%;
  background-color: #ccc;
  aspect-ratio: 1/1;
  border-radius: 1em;
  object-fit: cover;
}

/*
.buton {
  position: relative;
  color: black;
  border-radius: 1em;
  padding-left: 5px;
  padding-right: 5px;  
  background-color: #f44336;
  right: 6.3em;
  margin-bottom: 1em;
  color:bisque;
}*/

/*
.profile-pic {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2.5em;
    border-radius: 1em !important;
    border-style: dashed;
}
*/
.title {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 2.5em;
}

.navbar {
    background-color: darkred;
    height: 5em;
    width: 100%;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 2em 0em 2em;
}



.profile-img {
  order: 1; 
  height: max-content;
}

.profile-info {
  order: 2;
  /*margin: 0em 2em 0em 2em;*/
  text-align: center;
  background-color: gray;
  padding: 1em;
  border-radius: 1em;
}

@media screen and (min-width: 600px) {
  .profile-container {
      flex-direction: row;
  }

  .profile-img {
      order: 0;
      flex: 1;
      max-width: 100%;
  }

  .profile-info {
      order: 1;
      flex: 2;
  }

  textarea {
    width: 33%;
  }
}

  .delete{
    background-color: black;
    color: #f44336;
    border: 2px solid darkred;
    padding: 1em;
    margin-top: 1em;
    position: relative;
    text-decoration: none;
  }

  .delete:hover {
    background-color: #f44336;
    color: white;
    
  }

  

  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    /*background-color: #04AA6D;*/
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    max-width: 300px;
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    max-width: 600px;
    margin: auto;
  }

  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
    .reviews-section {
      width: 100%;
    }
    #läggkom {
      width: 100%;
    }
  }

  .reviews {
    background-color: darkred;
  }

  .reviews-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .semi-reviews-section {
    display: flex;
    flex-direction: row;
  }

  
/*
* {
  border: 2px solid red;
}

*/




.right {
  float: right;
}








/* Style the links inside the navigation bar */
.navbar a {
  padding: 1em;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  background-color: gray;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navlinks {
  
  
}