body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.car-details {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.car-details img {
    width: 100%;
    border-radius: 10px;
}

.car-info {
    padding: 20px;
}

.car-info h2 {
    margin-top: 0;
    color: #333;
}

.car-info p {
    margin: 5px 0;
    color: #666;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/*navbar*/
.h1 {
    text-align: center;
    margin: 2em;
  }
  
  .profile-pic {
      height: 2.5vw;
      width: 2.5vw;
      border-radius: 1.25vw;
      object-fit: cover;
    }
  
  .title {
      position: absolute;
      top: 1vw;
      left: 1vw;
      font-size: 2.5vw;
  }
  
  .navbar {
      background-color: darkred;
      height: 5vw;
      width: 100%;
  }

  .right {
    float: right;
    height: 3.5vw;

    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: gray;
    /* height: 5vb; */
    margin-bottom: 0;
    padding: 0 1vw 0 1vw;
    padding-top: 1.5vw;
  }

  @media (orientation: portrait) {
    .navbar a {
      font-size: 1.5vh;
      padding: 0 1vh 0 1vh;
      padding-top: 1.5vh;
    }
    .right {
      height: 3.5vh;
    }
    .close {
      right: 1vh;
    }
    .change {
      margin-right: 1vh;
    }
    
   /* .h1 {
      text-align: center;
      margin: 2em;
    }*/
    
    .profile-pic {
        height: 2.5vh;
        width: 2.5vh;
        border-radius: 1.25vh;
      }
    
    .title {
        top: 1vh;
        left: 1vh;
        font-size: 2.5vh;
    }
    
    .navbar {
        height: 5vh;
    }
  }

